.sectionCadastrar {
    background-image: url(../assets/Background.svg);
    background-color: #001122;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.containerx{
   background-color: rgba(35, 88, 11, 0);
   min-height: calc(100vh - 80px);
   width: 100%;
   display: grid;
   align-items: center;
   justify-content: center;
}

.form{
   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 18px;
   border:0.5px solid rgba(255, 255, 255, 0.18);
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   width: 400px;
   padding: 30px;
}

header{
   font-size: 28px;
   font-weight: 600;
   color: white;
   text-align: center;
}

form{
   margin-top: 30px;
}

form .field{
   height: 45px;
   width: 100%;
   margin-top: 20px;
}

.field input{
   height: 100%;
   width: 100%;
}

.field button,
.field input{
   display: flex;
   height: 100%;
   width: 100%;
   border: none;
   border-radius: 32px;
   background-color: #00000054;
   color: white;
}

@property --myColor1 {
   syntax: '<color>';
   initial-value: #4d00ff;
   inherits: false;
 }
 
@property --myColor2 {
   syntax: '<color>';
   initial-value: #00dbde;
   inherits: false;
 }

.field button{
   justify-content: center;
   align-items: center;
   padding: 0.5rem 1rem;
   text-transform: uppercase;
   border: 0;
   cursor: pointer;
   font-size: 80%;
   font-weight: 500;
   color: white;
}

.field button {
   background: linear-gradient(to right, var(--myColor1), var(--myColor2));
   transition: --myColor1 0.4s, --myColor2 0.9s;
}

   .field button:hover{
       --myColor1: #4000d5;
       --myColor2: #4000d5; 
   }

.field input{
   padding: 0 15px;
}

@media (max-width: 460px){
    .form{
        width: 300px;
     }
}